html, body{
	width: 100vw;
	height: 1vh;
	margin: 0;
	background-color: #f2f1f1;
}

.header {
	font-family: "EB Garamond SC 12", "Garamond", serif;
	font-size: 40px;
}

footer {
	font-family: "EB Garamond SC 12", "Garamond", serif;
	position: absolute;
	top: 98%;
	left: 50%;
	right: 50%;
	bottom: 0%;
	width: 100%;
	max-width: 350px;
	transform: translate(-50%,-50%);
	color: black;
}